* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

/* @import "./utilidades/extends";
@import "./utilidades/mixin"; */
Header {
  background-color: #3e7ebe;
  margin: 0;
  padding: 0 !important;
  position: sticky;
  height: 25vh;
  opacity: 95%;
}
Header .row {
  height: 100%;
  margin: 0;
}
Header .row section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0;
}
Header .row section img {
  height: 50%;
  margin: 2rem;
}
Header .row section h1 {
  width: 50%;
  color: #FBFBFB;
}
Header .row section div {
  height: 75%;
  display: flex;
  justify-content: end;
  align-items: end;
}
Header .row section nav.dropdown {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
Header .row section nav.dropdown .btn {
  padding: 0;
}
Header .row section nav.dropdown #menu_hamb {
  width: 70px;
  height: 70px;
  padding: 0;
  margin: 0;
}
Header .row section nav.dropdown ul.dropdown-menu {
  background-color: rgb(186, 214, 224);
  border: black 1px solid;
}
Header .row section nav {
  width: 100%;
  height: 100%;
  padding: 0;
  justify-content: space-around;
  align-items: end;
}
Header .row section nav ul {
  width: 50%;
  padding: 0;
  margin: 4rem;
}
Header .row section nav ul li.list-group-item {
  border: black 1px solid;
  box-shadow: 0 0 20px rgb(20, 20, 20);
  padding: 0.4rem;
  text-align: center;
  margin-left: 0.4rem;
}
Header .row section nav ul li.list-group-item a {
  text-decoration: none !important;
}
Header .row section nav ul li.list-group-item.hover-boton:hover {
  transform: scaleY(1.2);
  transition: transform 0.5s ease;
}

footer {
  margin: 0;
  margin-top: 5rem;
  background-color: #3e7ebe;
}
footer div.row {
  display: flex;
  justify-content: space-between;
}
footer div.row section {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: start;
  padding: 0;
  margin-bottom: 0.5rem;
}
footer div.row section article {
  color: #FBFBFB;
  margin-left: 2rem;
}
footer div.row section article h4 {
  padding: 0;
  margin-top: 0.5rem;
}
footer div.row section article p {
  padding: 0;
  margin: 0;
}
footer div.row section #img_footer {
  width: 25%;
  height: 50%;
  margin: 2rem;
  margin-bottom: 0;
}
footer div.row section.col-5 {
  width: 35%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer div.row section.col-5 h4 {
  text-align: center;
  margin: 0;
  color: #FBFBFB;
}
footer div.row section.col-5 div {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div.row section.col-5 div #img_instagram {
  width: 43px;
  height: 43px;
  margin: 0;
}
footer div.row section.col-5 div #img_instagram.hover-boton:hover {
  transform: scaleY(1.2);
  transition: transform 0.5s ease;
}
footer div.row section.col-5 div #img_twitter {
  width: 60px;
  height: 60px;
  margin: 0;
}
footer div.row section.col-5 div #img_twitter.hover-boton:hover {
  transform: scaleY(1.2);
  transition: transform 0.5s ease;
}
footer div.row section.col-5 div #img_facebook {
  width: 35px;
  height: 35px;
  border: #FBFBFB 1px solid;
  border-radius: 5rem;
  margin: 0;
}
footer div.row section.col-5 div #img_facebook.hover-boton:hover {
  transform: scaleY(1.2);
  transition: transform 0.5s ease;
}

/* 
 .hover-paquetes:hover {
   transform: scaleY(1.1);
   transition: transform 0.5s ease;
 } 
   -webkit-text-stroke: 3px black; */

/*# sourceMappingURL=styles.css.map */
